<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291363786501-verl4ep4f25c9fe2juulov7i3l50beqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291363786501-verl4ep4f25c9fe2juulov7i3l50beqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCSyS7EufqzxiIzqVpc05cKvaeSJF6s0ac</string>
	<key>GCM_SENDER_ID</key>
	<string>291363786501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.sweete.happy</string>
	<key>PROJECT_ID</key>
	<string>sweete-66a36</string>
	<key>STORAGE_BUCKET</key>
	<string>sweete-66a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291363786501:ios:d1548250f60c035160b16c</string>
</dict>
</plist>